html, body {
  margin: 0;
  height: 100%;
  font-family: 'Courier New', Courier, monospace; /* Use Courier font */
}

/* Fullscreen video background */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: 1;
  object-fit: cover;
  background: #000;
}

/* Overlay content */
.overlay-content {
  position: fixed;     /* fix the container on the viewport */
  top: 10px;           /* distance from top */
  left: 0;             /* start at left edge */
  width: 100%;         /* make container full width */
  display: flex;
  flex-direction: column;
  align-items: center;  /* center child items horizontally */
  pointer-events: auto;
  z-index: 1000;
  text-align: center;   /* center text inside the container */
}

.bungee-tint-regular {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;  /* Increase font size */
  color: #F24E07;
}
.tai-heritage-pro-regular {
  font-family: "Tai Heritage Pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;  /* Increase font size */
  color: #F24E07;
}

.pt-serif-caption-regular {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;  /* Increase font size */
  color: #F24E07;
}

.pt-serif-caption-regular-italic {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: italic;
}


.overlay-content nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content nav a {
  background: none;          /* Remove background */
  padding: 0;               /* Remove padding */
  border-radius: 0;         /* Remove border radius */
  border: none;             /* Remove border */
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  transition: color 0.18s;
}

.overlay-content nav a:hover {
  color: #D04111; /* Darken text on hover */
  background: none; /* Make sure no background appears */
  border: none;     /* Make sure no border appears */
  cursor: pointer;  /* Show pointer cursor */
}
